@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
   
    background: linear-gradient(-90deg, #6f0162,#000000 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor:'pointer';
    width: 100%;
    height: auto;
  
}

